# Compiled source #
###################
*.pyc

# Persistant data objects #
###########################
*.pkl


# project setup files #
#######################
.project
.pydevproject

# config files #
################
UKC_printersConfig.cfg
RTConfig.cfg
